@font-face {
  font-family: "Luminari";
  font-display: block;
  src: local("Luminari"), url("./fonts/Luminari.ttf") format("truetype");
}

a {
  color: rgb(255, 152, 152);
}
a:visited {
  color: rgb(255, 213, 213);
}
a:hover,
a:active,
a:focus {
  color: rgb(253, 200, 200);
}

.App {
  text-align: center;
  font-family: "Luminari";
  background-color: lightpink;
  margin-top: 0;
  cursor: url("./cur/sword.cur"), crosshair;
  width: 100vw;
  height: 100vh;
}

.App-header {
  margin: auto;
  display: block;
  margin-bottom: 3vh;
  width: 100vw;
  height: 15vh;
  font-size: 18vh;
  color: rgb(253, 163, 163);
  background-color: lightpink;
  border-radius: 15vh;
}

#headerSpan:hover {
  color: rgb(252, 169, 169);
}

p {
  display: block;
  margin: auto;
  font-size: 6vh;
}

.App-logo {
  animation: App-logo-spin infinite 1.8s ease-in-out;
  height: 60vh;
  pointer-events: none;
  display: block;
  margin: auto;
  margin-top: -7vh;
  margin-bottom: -7vh;
  filter: drop-shadow(2vh 1vh 1.5vh grey);
  opacity: 0.95;
}

@keyframes App-logo-spin {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

#showBio {
  display: none;
}

#bioBox {
  color: rgb(252, 136, 136);
  display: block;
  margin: auto;
  font-size: 4vh;
}

#bioSpan:hover {
  color: rgb(255, 152, 152);
}
