@font-face {
  font-family: 'Luminari';
  font-display: block;
  src: local('Luminari'), url('./fonts/Luminari.ttf') format('truetype');
}

a {
  color: rgb(252, 136, 136);
}
a:visited {
  color: rgb(255, 213, 213);
}
a:hover, a:active, a:focus {
  color: rgb(255, 221, 221);
}

.App {
  text-align: center;
  font-family: 'Luminari';
  background-color: lightpink;
  margin-top: 0;
  cursor: url('./cur/sword.cur'), crosshair;
  width: 100vw;
  height: 100vh;
}

.App-header {
  margin: auto;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15vh;
  width: 100vw;
  height: 15vh;
  color: rgb(253, 163, 163);
  background-color: lightpink;
  border-radius: 15vh;
}

p {
  display: block;
  margin: auto;
  font-size: 5vh;
}

.App-logo {
  animation: App-logo-spin infinite 1.8s ease-in-out;
  height: 60vh;
  pointer-events: none;
  display: block;
  margin: auto;
  margin-top: -7vh;
  margin-bottom: -7vh;
  filter: drop-shadow(2vh 1vh 1vh grey);
}

@keyframes App-logo-spin {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

#bioBox {
  color: rgb(252, 136, 136);
  display: block;
  margin: auto;
  font-size: 4vh;
}

#form1 {
  display: none;
  margin: auto;
  width: 50vw;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: lightpink;
}


ul {
  display: none;
  width: 30vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #8a8a8a31;
  padding: 5px;
  list-style-type: none;
  font-family: Luminari;
  font-size: calc(10px + 2vw);
  background-color: lightpink;
  border: 2px solid rgba(255, 65, 65, 0.384);
  border-radius: 5vmin;
}

